//媒体查询，用来做响应式样式

@import '@/assets/scss/variable.scss';

@media screen and(max-width: 992px) {
  .index-section {

    .topics-container {
      width: 100% !important;
    }

    aside.sidebar,
    .release-sidebar {
      display: none !important;
    }
  }
}

@media screen and(max-width: 680px) {
  .topics-list {
    .unique-topics-list {
      .count,
      .tag {
        display: none !important;
      }
    }
  }

}